{% extends "base.html "%}

{% block header %}
<br>
<a href="/">
    <button type="button" class="btn btn-primary">Home</button>
</a><br>
<br>
<h2>Here are all my routines: </h2><br>
{% endblock header %}

{% block workout_table %}
{% for routine in routines%}
<div>
    <h2 style="text-align: center;
               background-color: aqua;                     "> 
        {{ routine[0] }}

    {% if routine[1] == "H" %}
        - Heavy
    {% endif %}
    {% if routine[1] == "V" %}
        - Volume
    {% endif %}
        
    </h2>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Exercise</th>
                <th scope="col">Sets</th>
                <th scope="col">Reps</th>
            </tr>
        </thead>
        {% for exercise in routines[routine] %}
        <tr>
            <td>{{ exercise[0] }}</td>
            <td>{{ exercise[1] }}</td>
            <td>{{ exercise[2] }}</td>
        </tr>
        {% endfor %}
        
    </table>
    <br>
</div>
    
{% endfor %}
{% endblock workout_table %}